In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# plot 한글출력
plt.rcParams['font.family'] = 'NanumGothic'

In [3]:
# warning message 제거
import warnings
warnings.filterwarnings('ignore')

# Data

In [5]:
audits = pd.read_csv('Data/audits_2015_ko.csv')
show_time = pd.read_csv('Data/showTm_2015_ko.csv')
companys = pd.read_csv('Data/companys_2015_ko.csv')

actors = pd.read_csv('Data/actors_2015_ko.csv')
actor_code = pd.read_csv('Data/actorCd_2015_list.csv')
actor_detail = pd.read_csv('Data/actor_detail_2015_ko.csv')

directors = pd.read_csv('Data/directors_2015_ko.csv')
director_code = pd.read_csv('Data/directorCd_2015_list.csv')
director_detail = pd.read_csv('Data/director_detail_2015_ko.csv')

staffs = pd.read_csv('Data/staffs_2015_ko.csv')
writer_code = pd.read_csv('Data/writerCd_2015_list.csv')
writer_detail = pd.read_csv('Data/writer_detail_2015_ko.csv')

print('audits', audits.shape)
print('show_time', show_time.shape)
print('companys', companys.shape)

print('actors', actors.shape)
print('actor_code', actor_code.shape)
print('actor_detail', actor_detail.shape)

print('directors', directors.shape)
print('director_code', director_code.shape)
print('director_detail', director_detail.shape)

print('staffs', staffs.shape)
print('writer_code', writer_code.shape)
print('writer_detail', writer_detail.shape)

audits (166, 3)
show_time (164, 2)
companys (694, 4)
actors (2388, 5)
actor_code (2388, 5)
actor_detail (39862, 6)
directors (178, 4)
director_code (178, 5)
director_detail (3004, 6)
staffs (23444, 4)
writer_code (194, 5)
writer_detail (2499, 6)

### 데이터 확인

In [6]:
audits.sample()

          auditNo   movieCd watchGradeNm
40  2015-MF00623   20136057     15세이상관람가

In [7]:
show_time.sample()

     movieCd  showTm
22  20142855     116

In [8]:
companys.sample()

     companyCd  companyNm companyPartNm   movieCd
328   20100410  오퍼스픽쳐스(유)           배급사  20157587

#### 영화정보 데이터셋
movieCd 로 audits + show_time merge

companys 제작사, 배급사, 제공 등 컬럼으로 넣기

In [21]:
print(actors.isnull().sum())
actors.sample()

cast         446
movieCd        0
movieNm        0
peopleNm       0
repRoleNm      0
dtype: int64

     cast   movieCd                  movieNm peopleNm repRoleNm
1440  NaN  20156441  최강전사 미니특공대 : 새로운 악당의 습격      엄상현        배우

→ cast 컬럼 = 배역 이름

cast 컬럼 Null 값은 엑스트라?

In [24]:
print(actor_code.isnull().sum())
actor_code.sample()
actor_code[actor_code['repRoleNm'].isnull()]

filmoNames    0
movieNm       0
peopleCd      0
peopleNm      0
repRoleNm     2
dtype: int64

,filmoNames,movieNm,peopleCd,peopleNm,repRoleNm
1322,다이노 타임|빌리와 용감한 녀석들 2 |주먹왕 랄프|바보 삼총사,다이노 타임,10063852,제인 린치,NaN
1631,기적의 피아노,기적의 피아노,20214267,박정순,NaN

→ repRoleNm Null 값
- 해당영화 역할
- peopleCd 로 검색

In [31]:
print(actor_detail.isnull().sum())
actor_detail[actor_detail['sex'].isnull()]
# actor_detail[actor_detail['peopleNm'] == '최화정']

movieCd         0
movieNm         0
moviePartNm     0
peopleCd        0
peopleNm        0
sex            39
dtype: int64

        movieCd            movieNm moviePartNm  peopleCd peopleNm  sex
2650   20149314               내부자들          배우  20185511      설우신  NaN
2651   20123383      화이: 괴물을 삼킨 아이          배우  20185511      설우신  NaN
2652   20126091                 관상     액션/스턴트팀  20185511      설우신  NaN
10323  20143572            뷰티 인사이드          배우  10089433      홍다미  NaN
10324  20060499                유리알          배우  10089433      홍다미  NaN
10325  20197748      동명이인 프로젝트 시즌3          배우  10089433      홍다미  NaN
27104  20100211             다이노 타임          배우  10063852    제인 린치  NaN
27105  20133924     빌리와 용감한 녀석들 2           배우  10063852    제인 린치  NaN
27106  20129388             주먹왕 랄프          배우  10063852    제인 린치  NaN
27107  20135112             바보 삼총사          배우  10063852    제인 린치  NaN
28625  20151782        지금은맞고그때는틀리다          배우  10072915      최화정  NaN
28626  20120106      뒷담화: 감독이 미쳤어요          배우  10072915      최화정  NaN
28627  19860074          몸 전체로 사랑을          배우  10072915      최화정  NaN
36458  20163218          위선자들: 감독판          배우  10060130      장두이  NaN
36459  20157191               위선자들          배우  10060130      장두이  NaN
36460  20136892                 청야          배우  10060130      장두이  NaN
36461  19940007               마스카라          배우  10060130      장두이  NaN
36462  19860014                 깜보          배우  10060130      장두이  NaN
36463  19778174  어디서 무엇이 되어 다시 만나리          배우  10060130      장두이  NaN
36869  20191845             난폭한 기록          배우  10062116      정의갑  NaN
36870  20149259                막걸스          배우  10062116      정의갑  NaN
36871  20137546                 만찬          배우  10062116      정의갑  NaN
36872  20070487        이브의 유혹 - 엔젤          배우  10062116      정의갑  NaN
36873  20111916                  원          배우  10062116      정의갑  NaN
37451  20141611                 들꽃          배우  10072468      최영록  NaN
37582  20136043           신이 보낸 사람          배우  10043336      안병경  NaN
37583  20136043           신이 보낸 사람          배우  10043336      안병경  NaN
37584  20133667              폴라로이드          배우  10043336      안병경  NaN
37585  19890073              단단한 놈          배우  10043336      안병경  NaN
37586  19840068           각설이 품바타령          배우  10043336      안병경  NaN
37587  19820034         복수는 내게 맡겨라          배우  10043336      안병경  NaN
37724  20133667              폴라로이드          배우  20230285      황서인  NaN
37725  20133667              폴라로이드          배우  20230285      황서인  NaN
37726  20133667              폴라로이드         조명팀  20230285      황서인  NaN
37727  20133667              폴라로이드          배우  20230285      황서인  NaN
37728  20133667              폴라로이드          배우  20230285      황서인  NaN
37729  20133667              폴라로이드         조명팀  20230285      황서인  NaN
37881  20143726           명령불복종 교사          배우  10072903      최혜원  NaN
37882  20143726           명령불복종 교사          촬영  10072903      최혜원  NaN

→ sex Null 값 
- 개별 서칭
- 다른 row 찾기

#### 배우 관련 데이터셋
[movieNm, peopleNm] 로 actors + actor_code merge

peopleCd 로 actor_code + actor_detail merge (peopleNm 중복)

In [32]:
print(directors.isnull().sum())
directors.sample()

movieCd      0
movieNm      0
peopleNm     0
repRoleNm    0
dtype: int64

      movieCd    movieNm peopleNm repRoleNm
176  20147929  메이드 인 차이나      김동후        감독

In [33]:
print(director_code.isnull().sum())
director_code.sample()

filmoNames    0
movieNm       0
peopleCd      0
peopleNm      0
repRoleNm     0
dtype: int64

,filmoNames,movieNm,peopleCd,peopleNm,repRoleNm
84,오! 문희|명량: 회오리 바다를 향하여|퍼펙트 게임|최종병기 활|인플루언스|애자|아...,명량: 회오리 바다를 향하여,20158266,정세교,감독

In [36]:
print(director_detail.isnull().sum())
director_detail[director_detail['sex'].isnull()]

movieCd         0
movieNm         0
moviePartNm     0
peopleCd        0
peopleNm        0
sex            16
dtype: int64

       movieCd            movieNm moviePartNm  peopleCd peopleNm  sex
1206  20141598                타이밍          감독  10028546      박대열  NaN
1207  20141598                타이밍      애니메이션팀  10028546      박대열  NaN
1208  20141598                타이밍       스토리보드  10028546      박대열  NaN
1209  20060378           애니 프란체스카          감독  10028546      박대열  NaN
1411  20189746  극장판 뽀잉: 슈퍼 변신의 비밀          기획  20214806       허선  NaN
1412  20189746  극장판 뽀잉: 슈퍼 변신의 비밀          제작  20214806       허선  NaN
1413  20154323           슈퍼레이서 엔지          감독  20214806       허선  NaN
1414  20154323           슈퍼레이서 엔지          기획  20214806       허선  NaN
1415  20154323           슈퍼레이서 엔지    시나리오(각본)  20214806       허선  NaN
1416  20154323           슈퍼레이서 엔지        프로듀서  20214806       허선  NaN
2628  20166441                 외도    시나리오(각본)  20216886     최율권희  NaN
2629  20161324        위험한 중독 무삭제판          감독  20216886     최율권희  NaN
2630  20150666             위험한 중독          감독  20216886     최율권희  NaN
2631  20150666             위험한 중독          각색  20216886     최율권희  NaN
2632  20158463          포장마차-무삭제판          감독  20216886     최율권희  NaN
2633  20155845               포장마차          감독  20216886     최율권희  NaN

→ sex Null 값
- 개별 서칭

#### 감독 관련 데이터셋
배우 데이터셋과 마찬가지로 merge

In [37]:
print(staffs.isnull().sum())
staffs.sample()

movieCd        0
movieNm        0
peopleNm       0
staffRoleNm    0
dtype: int64

      movieCd movieNm peopleNm staffRoleNm
819  20148851      암살      손병수    VFX 아티스트

In [41]:
print(writer_code.isnull().sum())
writer_code[writer_code['repRoleNm'].isnull()]

filmoNames    0
movieNm       0
peopleCd      0
peopleNm      0
repRoleNm     1
dtype: int64

   filmoNames movieNm  peopleCd peopleNm repRoleNm
82     다이노 타임  다이노 타임  10045509    애덤 비첸       NaN

→ repRoleNm Null 값
- 해당영화 역할
- peopleCd 로 검색

In [40]:
print(writer_detail.isnull().sum())
writer_detail[writer_detail['sex'].isnull()]

movieCd         0
movieNm         0
moviePartNm     0
peopleCd        0
peopleNm        0
sex            26
dtype: int64

       movieCd             movieNm moviePartNm  peopleCd peopleNm  sex
814   20156807  뽀로로 극장판 컴퓨터 왕국 대모험    시나리오(각본)  10057072      이인균  NaN
815   20123681    뽀로로 극장판 슈퍼썰매 대모험    시나리오(각본)  10057072      이인균  NaN
904   20100211              다이노 타임    시나리오(각본)  10045509    애덤 비첸  NaN
1033  20144442               조선마술사    시나리오(각본)  10066948      조정화  NaN
1034  20144442               조선마술사    시나리오(각본)  10066948      조정화  NaN
1035  20133811             슬기로운 해법    시나리오(각본)  10066948      조정화  NaN
1036  20030063          화성으로 간 사나이    시나리오(각본)  10066948      조정화  NaN
1037  20120745              해피버스데이         스토리  10066948      조정화  NaN
1038  20120741                교회누나    시나리오(각본)  10066948      조정화  NaN
1039  20020052             묻지마 패밀리    시나리오(각본)  10066948      조정화  NaN
1040  20144442               조선마술사    시나리오(각본)  10066948      조정화  NaN
1041  20144442               조선마술사    시나리오(각본)  10066948      조정화  NaN
1042  20133811             슬기로운 해법    시나리오(각본)  10066948      조정화  NaN
1043  20030063          화성으로 간 사나이    시나리오(각본)  10066948      조정화  NaN
1044  20120745              해피버스데이         스토리  10066948      조정화  NaN
1045  20120741                교회누나    시나리오(각본)  10066948      조정화  NaN
1046  20020052             묻지마 패밀리    시나리오(각본)  10066948      조정화  NaN
1272  20189746   극장판 뽀잉: 슈퍼 변신의 비밀          기획  20214806       허선  NaN
1273  20189746   극장판 뽀잉: 슈퍼 변신의 비밀          제작  20214806       허선  NaN
1274  20154323            슈퍼레이서 엔지          감독  20214806       허선  NaN
1275  20154323            슈퍼레이서 엔지          기획  20214806       허선  NaN
1276  20154323            슈퍼레이서 엔지    시나리오(각본)  20214806       허선  NaN
1277  20154323            슈퍼레이서 엔지        프로듀서  20214806       허선  NaN
1952  20133667               폴라로이드    시나리오(각본)  20229799       니쥔  NaN
2125  20158385               착한 처제    시나리오(각본)  20227240      여필주  NaN
2209  20153313            이바라키의 여름    시나리오(각본)  20229601      권초원  NaN

#### 작가 관련 데이터셋
배우, 감독 데이터셋과 마찬가지로 merge

## Merge

In [44]:
print(audits.shape, show_time.shape, companys.shape)

(166, 3) (164, 2) (694, 4)

In [48]:
audits.sample()

           auditNo   movieCd watchGradeNm
163  2014-MF01317   20155744      청소년관람불가

In [59]:
data = audits.merge(show_time, how='left', on='movieCd')
# companys 컬럼으로 넣기
data.isnull().sum()

companys.sample()
companys['companyPartNm'].value_counts()
# 제작사가 2개면 어떻게 넣을지

제작사                213
배급사                181
제공                 128
해외세일즈사             110
공동제공                48
제작서비스-후반작업(VFX)      6
제작서비스-시각효과/특수효과      5
제작서비스-분장/헤어          1
홍보사                  1
수입사                  1
Name: companyPartNm, dtype: int64